# Ignorar el entorno virtual
Include/
Lib/
Scripts/
pyvenv.cfg

# Archivos o carpetas comunes para ignorar
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones de IDEs o editores de texto
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
s